.img{
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.botao{
    max-width: 80px;
    max-height: 40px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}